<!DOCTYPE html>
<html lang="fr">
<head>
  {% include "head-common.njk" %}
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>
<body>
  <div id="site-header"></div>
  {{ content | safe }}
  <div id="site-footer"></div>
  <script src="/includes.js"></script>
</body>
</html>
